
<div class="col-md-12" style="margin-top:5px">
  <%= f.label :answer, "답변", :class => "col-sm-2 control-label", :style => "margin-right:0px" %>
  <div class="col-sm-8">
  <%= f.text_field :answer, :class => "form-control" %>
  </div>
  <div class="col-sm-2">
  <%= f.check_box :_destroy, :class => "form-control" %> 삭제
  </div>
</div>
